@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-shake {
  animation: shake 1s normal infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2px);
  }

  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  position: relative;
}

img {
  height: 60px;
}
h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
